### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="outer", on=["school_name", "school_name"])

school_data_complete.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# number of schools
number_schools=school_data_complete['school_name'].nunique()
print(f'The total number of schools are: {number_schools}')

The total number of schools are: 15

In [3]:
# number of sudents
number_students=school_data_complete['student_name'].count()
print(f'The total number of students are: {number_students}')

The total number of students are: 39170

In [4]:
# calculate total school system budget
system_budget=school_data['budget'].sum(min_count=1)
print(f'The total school system budget is: ${system_budget}')

The total school system budget is: $24649428

In [5]:
#average math scores
math_scores_average=school_data_complete['math_score'].mean()
print(f'The average math score for the whole system is: {round(math_scores_average,2)}%')

The average math score for the whole system is: 78.99%

In [6]:
#average reading scores
reading_scores_average=school_data_complete['reading_score'].mean()
print(f'The average math score for the whole system is: {round(reading_scores_average,2)}%')

The average math score for the whole system is: 81.88%

In [7]:
#math greater than 70
passing_math=school_data_complete['math_score']>=70
passing_math_ave=(passing_math.values.sum()/number_students)*100
print(f'The percentage of students with a math score of 70% or higher is: {round(passing_math_ave,2)}%')

The percentage of students with a math score of 70% or higher is: 74.98%

In [8]:
#reading greater than 70
passing_reading=school_data_complete['reading_score']>=70
passing_reading_ave=(passing_reading.values.sum()/number_students)*100
print(f'The percentage of students with a reading score of 70% or higher is: {round(passing_reading_ave,2)}%')

The percentage of students with a reading score of 70% or higher is: 85.81%

In [9]:
passing_math_read=[(school_data_complete['math_score'] >=70) & (school_data_complete['reading_score'] >=70)]
#don't know how this worked. I'm thinking that I combined two columns that I have to sum the two columns together first then sum the result of that. 
passing_math_read_ave=(sum(passing_math_read).sum()/number_students)*100
# passing_math_read_ave
print(f'The percentage of students that are proficient in both math and reading is: {round(passing_math_read_ave,2)}%')

The percentage of students that are proficient in both math and reading is: 65.17%

In [10]:
district_data= {'Number_of_schools':[number_schools],
               'Number_of_students':[number_students],
               'System_budget':[system_budget],
               'Average_math_score':[round(math_scores_average,2)],
               'Average_reading_score':[round(reading_scores_average,2)],
               'Proficient_in_math':[round(passing_math_ave,2)],
               'Proficient_in_reading':[round(passing_reading_ave,2)],
               'Proficient_in_math_and_reading':[round(passing_math_read_ave,2)]}

df_district=pd.DataFrame(district_data, columns= ['Number_of_schools','Number_of_students','System_budget','Average_math_score','Average_reading_score','Proficient_in_math','Proficient_in_reading','Proficient_in_math_and_reading'], index=['System Data'])

df_district

,Number_of_schools,Number_of_students,System_budget,Average_math_score,Average_reading_score,Proficient_in_math,Proficient_in_reading,Proficient_in_math_and_reading
System Data,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [11]:
df_school=school_data[['school_name','type','size','budget']]
df_school['per_student_budget']=df_school['budget']/df_school['size']

In [12]:
Huang_math=school_data_complete.loc[school_data_complete.school_name=='Huang High School','math_score']
Huang_math_ave=round(Huang_math.mean(),2)

Figueroa_math=school_data_complete.loc[school_data_complete.school_name=='Figueroa High School','math_score']
Figueroa_math_ave=round(Figueroa_math.mean(),2)

Shelton_math=school_data_complete.loc[school_data_complete.school_name=='Shelton High School','math_score']
Shelton_math_ave=round(Shelton_math.mean(),2)

Hernandez_math=school_data_complete.loc[school_data_complete.school_name=='Hernandez High School','math_score']
Hernandez_math_ave=round(Hernandez_math.mean(),2)

Griffin_math=school_data_complete.loc[school_data_complete.school_name=='Griffin High School','math_score']
Griffin_math_ave=round(Griffin_math.mean(),2)

Wilson_math=school_data_complete.loc[school_data_complete.school_name=='Wilson High School','math_score']
Wilson_math_ave=round(Wilson_math.mean(),2)

Cabrera_math=school_data_complete.loc[school_data_complete.school_name=='Cabrera High School','math_score']
Cabrera_math_ave=round(Cabrera_math.mean(),2)

Bailey_math=school_data_complete.loc[school_data_complete.school_name=='Bailey High School','math_score']
Bailey_math_ave=round(Bailey_math.mean(),2)

Holden_math=school_data_complete.loc[school_data_complete.school_name=='Holden High School','math_score']
Holden_math_ave=round(Holden_math.mean(),2)

Pena_math=school_data_complete.loc[school_data_complete.school_name=='Pena High School','math_score']
Pena_math_ave=round(Pena_math.mean(),2)

Wright_math=school_data_complete.loc[school_data_complete.school_name=='Wright High School','math_score']
Wright_math_ave=round(Wright_math.mean(),2)

Rodriguez_math=school_data_complete.loc[school_data_complete.school_name=='Rodriguez High School','math_score']
Rodriguez_math_ave=round(Rodriguez_math.mean(),2)

Johnson_math=school_data_complete.loc[school_data_complete.school_name=='Johnson High School','math_score']
Johnson_math_ave=round(Johnson_math.mean(),2)

Ford_math=school_data_complete.loc[school_data_complete.school_name=='Ford High School','math_score']
Ford_math_ave=round(Ford_math.mean(),2)

Thomas_math=school_data_complete.loc[school_data_complete.school_name=='Thomas High School','math_score']
Thomas_math_ave=round(Thomas_math.mean(),2)

list_math_ave= [Huang_math_ave,Figueroa_math_ave,Shelton_math_ave,Hernandez_math_ave,Griffin_math_ave,Wilson_math_ave,
               Cabrera_math_ave,Bailey_math_ave,Holden_math_ave,Pena_math_ave,Wright_math_ave,Rodriguez_math_ave,
                Johnson_math_ave,Ford_math_ave,Thomas_math_ave]

In [13]:
Huang_read=school_data_complete.loc[school_data_complete.school_name=='Huang High School','reading_score']
Huang_read_ave=round(Huang_read.mean(),2)

Figueroa_read=school_data_complete.loc[school_data_complete.school_name=='Figueroa High School','reading_score']
Figueroa_read_ave=round(Figueroa_read.mean(),2)

Shelton_read=school_data_complete.loc[school_data_complete.school_name=='Shelton High School','reading_score']
Shelton_read_ave=round(Shelton_read.mean(),2)

Hernandez_read=school_data_complete.loc[school_data_complete.school_name=='Hernandez High School','reading_score']
Hernandez_read_ave=round(Hernandez_read.mean(),2)

Griffin_read=school_data_complete.loc[school_data_complete.school_name=='Griffin High School','reading_score']
Griffin_read_ave=round(Griffin_read.mean(),2)

Wilson_read=school_data_complete.loc[school_data_complete.school_name=='Wilson High School','reading_score']
Wilson_read_ave=round(Wilson_read.mean(),2)

Cabrera_read=school_data_complete.loc[school_data_complete.school_name=='Cabrera High School','reading_score']
Cabrera_read_ave=round(Cabrera_read.mean(),2)

Bailey_read=school_data_complete.loc[school_data_complete.school_name=='Bailey High School','reading_score']
Bailey_read_ave=round(Bailey_read.mean(),2)

Holden_read=school_data_complete.loc[school_data_complete.school_name=='Holden High School','reading_score']
Holden_read_ave=round(Holden_read.mean(),2)

Pena_read=school_data_complete.loc[school_data_complete.school_name=='Pena High School','reading_score']
Pena_read_ave=round(Pena_read.mean(),2)

Wright_read=school_data_complete.loc[school_data_complete.school_name=='Wright High School','reading_score']
Wright_read_ave=round(Wright_read.mean(),2)

Rodriguez_read=school_data_complete.loc[school_data_complete.school_name=='Rodriguez High School','reading_score']
Rodriguez_read_ave=round(Rodriguez_read.mean(),2)

Johnson_read=school_data_complete.loc[school_data_complete.school_name=='Johnson High School','reading_score']
Johnson_read_ave=round(Johnson_read.mean(),2)

Ford_read=school_data_complete.loc[school_data_complete.school_name=='Ford High School','reading_score']
Ford_read_ave=round(Ford_read.mean(),2)

Thomas_read=school_data_complete.loc[school_data_complete.school_name=='Thomas High School','reading_score']
Thomas_read_ave=round(Thomas_read.mean(),2)

list_read_ave= [Huang_read_ave,Figueroa_read_ave,Shelton_read_ave,Hernandez_read_ave,Griffin_read_ave,Wilson_read_ave,
               Cabrera_read_ave,Bailey_read_ave,Holden_read_ave,Pena_read_ave,Wright_read_ave,Rodriguez_read_ave,
                Johnson_read_ave,Ford_read_ave,Thomas_read_ave]

In [14]:
df_school["ave_math_score"]=list_math_ave
df_school["ave_reading_score"]=list_read_ave

In [15]:
df_school

,school_name,type,size,budget,per_student_budget,ave_math_score,ave_reading_score
0,Huang High School,District,2917,1910635,655.0,76.63,81.18
1,Figueroa High School,District,2949,1884411,639.0,76.71,81.16
2,Shelton High School,Charter,1761,1056600,600.0,83.36,83.73
3,Hernandez High School,District,4635,3022020,652.0,77.29,80.93
4,Griffin High School,Charter,1468,917500,625.0,83.35,83.82
5,Wilson High School,Charter,2283,1319574,578.0,83.27,83.99
6,Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98
7,Bailey High School,District,4976,3124928,628.0,77.05,81.03
8,Holden High School,Charter,427,248087,581.0,83.80,83.81
9,Pena High School,Charter,962,585858,609.0,83.84,84.04
10,Wright High School,Charter,1800,1049400,583.0,83.68,83.96
11,Rodriguez High School,District,3999,2547363,637.0,76.84,80.74
12,Johnson High School,District,4761,3094650,650.0,77.07,80.97
13,Ford High School,District,2739,1763916,644.0,77.10,80.75
14,Thomas High School,Charter,1635,1043130,638.0,83.42,83.85

In [16]:
Huang_read_p=school_data_complete.loc[school_data_complete.school_name=='Huang High School','reading_score']>=70
Huang_read_p.sum()

2372

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type